body{
    margin: 0;
    padding: 0;
    .imagenresponsivawitdh{
        max-width: 100%;
        height: auto;
        display: block;
        margin: auto;
    }
    .contenedorimagen{
        display:block;
        margin: auto;
        margin-top: 40px;
        width: 70%;
        min-height: 500px;
        background-image: url("../img/withcer4.jpg");
        border: 1px solid black;
        background-repeat: no-repeat;
        background-size: contain;
    }
}
.contenedor{
    display: grid;
    grid-template-columns: auto auto ;
    padding:10px;
    background-color: lightgray;
    &__elementohijo{
        padding:10px;
         &__imagenresponsiva{
        width: 100%;
        height: auto;
        }
    }
}